<ion-header>
  <ion-toolbar>
    <ion-title>Minha Lista de Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="gameList.length > 0; else noGames">
    <ion-item-sliding *ngFor="let game of gameList">
      <!-- Conteúdo principal do item -->
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="game.background_image" alt="{{ game.name }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ game.name }}</h2>
          <p>{{ game.released | date }}</p>
        </ion-label>
      </ion-item>

      <!-- Botão para Remover -->
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="removeFromList(game)">
          Remover
        </ion-item-option>
      </ion-item-options>

      <!-- Botão para Review -->
      <ion-item-options side="end">
        <ion-item-option color="primary" [routerLink]="['/review', game.id]">
          Review
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Caso não haja jogos na lista -->
  <ng-template #noGames>
    <ion-text color="medium">
      <h3>Você ainda não adicionou jogos à lista.</h3>
    </ion-text>
  </ng-template>
</ion-content>


