<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Adicionando *ngIf para verificar se 'game' está definido -->
  <ion-card *ngIf="game">
    <img [src]="game.background_image" alt="{{ game.name }}" />

    <ion-card-header>
      <ion-card-title>{{ game.name }}</ion-card-title>
      <ion-card-subtitle>{{ game.released | date }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Descrição do jogo -->
      <p>{{ game.description }}</p>

      <!-- Informações adicionais -->
      <ion-list>
        <ion-item>
          <ion-label>Nota</ion-label>
          <ion-badge color="success">{{ game.rating }}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>Plataformas</ion-label>
          <p>
            <ion-chip *ngFor="let platform of game.platforms">
              <ion-label>{{ platform.platform.name }}</ion-label>
            </ion-chip>
          </p>
        </ion-item>

        <ion-item>
          <ion-label>Gêneros</ion-label>
          <p>
            <ion-chip *ngFor="let genre of game.genres">
              <ion-label>{{ genre.name }}</ion-label>
            </ion-chip>
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <!-- Botão para adicionar o jogo à lista -->
    <ion-button color="primary" (click)="addToList()">
      Adicionar à Lista
    </ion-button>
    
    <!-- Mensagem de Feedback -->
    <span *ngIf="feedbackMessage" class="feedback-message">
      {{ feedbackMessage }}
    </span>
    
  </ion-card>
</ion-content>


